@model IEnumerable<DocumentViewModel>

@if ((AuthorizationService.AuthorizeAsync(User, PermissionsMaster.Document.View)).Result.Succeeded)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>User</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserNameAndRank)
                    </td>
                    <td>
                        @if ((AuthorizationService.AuthorizeAsync(User, PermissionsMaster.Document.Download)).Result.Succeeded)
                        {
                            <a asp-action="Download" asp-route-id="@item.Id">Download</a><text> | </text>
                        }
                        @if ((AuthorizationService.AuthorizeAsync(User, PermissionsMaster.Document.View)).Result.Succeeded)
                        {
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}